<header class="header">
   <div class="header__container">
      <a href="#" class="menu__logo">Logo</a>
      <div class="header__menu menu">
         <nav class="menu__body">
            <ul class="menu__list">
               <li><a data-goto=".section__first" href="#" class="menu__link">Раздел 1</a></li>
               <li><a data-goto=".section__second" href="#" class="menu__link">Раздел 2</a></li>
               <li><a data-goto=".section__third" href="#" class="menu__link">Раздел 3</a></li>
               <li>
                  <a href="" class="menu__link">Страницы</a>
                  <span class="menu__arrow"></span>
                  <ul class="menu__sub-list">
                     <li><a href="" class="menu__sub-link">Страница 1</a></li>
                     <li><a href="" class="menu__sub-link">Страница 2</a></li>
                     <li><a href="" class="menu__sub-link">Страница 3</a></li>
                  </ul>
               </li>
            </ul>
            <div class="menu__btns">
               <a href="" class="menu__btn btn-outline">Кнопка</a>
               <a href="" class="menu__btn btn">Кнопка</a>
            </div>
         </nav>
         <div class="menu__icon">
            <span></span>
         </div>
      </div>
   </div>
</header>