$white: #f7f9fb;
$grey: #eaeaea;
$pale-p: #E4DEEC;
$pale-g: #EEF1F6;

$primary: #79589F;
$secondary: #3E6BCA;

$header-l: #333;

$text: #969696;
$text-h: #79589F;

$link: #3E6BCA;
$link-h: #494997;

$btn: #79589F;
$btn-h: #40367D;